<div class="small-centered columns">
  <br>
  <h1> Books! </h1>

  <% @books.each do |book| %>
  <strong><%= link_to book.title, book_path(book) %></strong> by <%= book.author %><br>
  <% end %>
  <br>
  <%= link_to "Add a Book!", new_book_path %><br>
  <br>

</div>
