<div class="callout large">
  <div class="small-4 large-4 columns">
    <img src="http://i.imgur.com/LViNDYQ.jpg">
  </div>
  <div class="small-8 columns">
    <h1> Welcome to MyLibrary! </h1><br>
    <div id="action-buttons">
      <%= link_to "My Books", books_path, class: "button hollow" %>
    </div>
  </div>
</div>
