a#link {
  color: white;
}

a#link:hover {
  color: #012677;
}

#action-buttons {
  text-align: center;
}

.button_hollow {

}

.callout {
  border: none;
}

.callout#show {

}

.flash {
  background-color: #79B5AC;
  color: white;
  vertical-align: middle;
  margin: auto;
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

h1#show-page {
  font-size: 22px;
  text-align: right;
}

h2 {
  font-size: 22px;
  text-align: center;
}

h2#show-page {
  font-size: 20px;
  text-align: right;
}

h3 {
  font-size: 18px;
  text-align: center;
}

h3#show-page {
  font-size: 18px;
  text-align: left;
}

.top-bar {
  background-color: #C74066;
}

.top-bar-left {
  text-align: left;
  font-size: 24px;
}

.top-bar-right {
  text-align: right;
  margin-top: 7px;
}
