.flash {
  background-color: #79B5AC;
  color: white;
  vertical-align: middle;
  margin: auto;
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  text-align: center;
}

h3 {
  font-size: 18px;
  text-align: center;
}

.top-bar {
}

.top-bar-left {
  text-align: left;
}

.top-bar-right {
  text-align: right;
}
